<?xml version="1.0"?>
<model>
  <name>quadcopter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Codex</name>
    <email>root@todo.todo</email>
  </author>
  <description>
    Minimal X-configuration quadcopter model for rotor-speed control experiments.
  </description>
</model>
